services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    build:
      context: .
    ports:
      - '3000:3000'
    labels:
      - 'traefik.http.middlewares.mybasicauth.basicauth.users=MillerQc:$2y$05$UEzaddmjxVRQF4lKTG3sjeP.8MkNQTpfLajhv8YIC09wfZEYk5fB.' 
    volumes:
      - data:/home/perplexica/data
    restart: unless-stopped

volumes:
  data:
    name: 'perplexica-data'
